.fill-screen {
  background-size: cover;
  background-position: center;
}

.content-filler {
  min-height: 350px;
}

.fixed-attachment {
// border: 5px solid #000;
//  width: 50px;
//  height: 50px;
  background-attachment: fixed;
 // padding-top:79px!important;
}

section {
  h2 {
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  p {
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
  }

}
