$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;
$cceadetblue: #6C94B4;
$clighterceadetblue: #92bde0;

.keramika-footer {
  background-color: $cdarkblue;
  border-top: $cceadetblue;
  border-top-style: solid;
  border-top-width: 15px;
  height: 250px;
  position: relative;

  article {
    padding-top: 20px;

    a {
      color: $clighterceadetblue;
    }

    a:hover {
      color: $clightyellow;
    }
  }

  @media (max-width: 767px) {
    height: 360px;
    article {

      color: $clighterceadetblue;
      text-align: center;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 20px;
      height: 110px;
      transform: translateX(-50%);

    }
  }
  @media (min-width: 768px) {
    article {
      color: $clighterceadetblue
    }

    img {
      position: absolute;
      right: 18px;
      top: 20px;

      height: 110px;


    }

  }
  @media (max-width: 400px) {
    article h2 {
      font-size: 26px;
    }
  }
  @media (max-width: 350px) {
    article {

      h2 {
        font-size: 24px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}




