$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;


@media (min-width: 768px) {
  .row-container {
    padding-left: 0;
    padding-right: 0;

    border-left: solid $cdarkblue;
    border-right: solid $cdarkblue;

    .row-no-padding {
      margin-right: 0;
      padding-right: 0;
      margin-left: 0;
      padding-left: 0;


      [class*="side-left"] {
        padding-left: 0;
        padding-right: 0;
        order: 1;
      }

      [class*="side-right"] {
        padding-left: 0;
        padding-right: 0;
        order: 2;
      }
    }


  }

  .text-bubble-col {
    text-align: center;
  }

}

@media (max-width: 767px) {

  .row-container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;

    border-left: solid $cdarkblue;
    border-right: solid $cdarkblue;

    .row-no-padding {
      margin-right: 0;
      padding-right: 0;
      margin-left: 0;
      padding-left: 0;

      [class*="side-"] {
        padding-left: 0;
        padding-right: 0;

      }

    }

  }

  .text-bubble-col {
    text-align: center;
  }

}
