$h1color: brown;
#hello {
  color: $h1color
}


#navbar-template-section {
  background-color: lightsteelblue;
  border-style: solid;
  border-color: steelblue;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5px;

  .navbar-brand {
    display: block;
    margin: 0 auto;

    #nav-logo-picture{
      margin-right: 10px
    }

  }
}

#language-dropdown{
  #czech-flag{
    width: 20px;
    margin-top: 7px; margin-left: 5px
  }
  #english-flag{
    width: 20px;
    margin-top: 7px; margin-left: 3px
  }
}
.navbar .navbar-collapse {
  text-align: center;

}
