$cdarkblue: #031740;
$clightblue: #537fa6;
$clightyellow: #fcfaf2; // #d9d9d9;
$clightbeige: #d8d9b8;
$cdarkbeige: #bfbd9f;

$animationnavbarlenght: 1s;

@keyframes change-navbar-to-small {
  0% {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 99px;
  }
  100% {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 79px;
  }
}

@keyframes change-navbar-to-large {
  0% {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 79px;
  }
  100% {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 99px;
  }
}


@keyframes add-bottom-margin {
  0% {
    margin-bottom: 0;
    background: rgba(83, 127, 166, 1);
  }
  100% {
    margin-bottom: 20px;
    background-color: $clightblue;
    background: rgba(83, 127, 166, 0.85);

  }
}


@keyframes remove-bottom-margin {
  0% {
    margin-bottom: 20px;
    background: rgba(83, 127, 166, 0.85);
  }
  100% {
    margin-bottom: 0;
    background: rgba(83, 127, 166, 1);
  }
}


.navbar_has_margin {
  -webkit-animation: add-bottom-margin $animationnavbarlenght 1 linear both;

}

.navbar_no_margin {
  -webkit-animation: remove-bottom-margin $animationnavbarlenght 1 linear both;
}

.turn_navbar_small {
  -webkit-animation: change-navbar-to-small $animationnavbarlenght 1 linear both;
}

.turn_navbar_tall {
  -webkit-animation: change-navbar-to-large $animationnavbarlenght 1 linear both;
}

.bignavbarfinal {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 99px !important;
}


.navbar_has_margin {
  margin-bottom: 20px;
}


#navbar-template-section {
  background-color: $clightblue;
  border-bottom-style: solid;
  border-bottom-color: $cdarkblue;
  border-top-style: solid;
  border-top-color: $cdarkblue;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 5px;
  color: $clightyellow;

  .navbar-brand {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    height: 99px !important;
  }

  #language-dropdown {
    background-color: $clightyellow;
  }

  @media (min-width: 768px) {

    .navbar-brand {
      display: block;
      margin: 0 auto;

      #nav-logo-picture {
        margin-right: 10px
      }
    }

    #outside-pages-links {
      display: grid;
      grid-template-columns: auto auto auto;

      a {
        padding: 4px
      }
    }

  }

  @media (max-width: 767px) {
    text-align: center;
    #language-dropdown {
      text-align: center;
    }

    .navbar-brand {
      margin: 0 auto;

      #nav-logo-picture {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

    }

    #outside-pages-links {
      display: grid;
      grid-template-columns: auto auto auto;
      padding-left: 30%;
      padding-right: 30%;

      a {
        padding-bottom: 3px;
        padding-top: 3px;
      }
    }
  }
}

.nav-link {
  color: $clightyellow;
  font-size: 16pt;
}

.nav-link:hover {
  color: $cdarkblue;
}


#language-dropdown {
  #czech-flag {
    width: 20px;
    margin-top: 7px;
    margin-left: 5px
  }

  #english-flag {
    width: 20px;
    margin-top: 7px;
    margin-left: 3px
  }

  .language_dropdown_button {
    color: $cdarkblue;
  }
}






