<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>Keramická dílna brána jazyků</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="icon" href="../images/konikrightsmall.jpg">
    <link rel="stylesheet" href="../styling/generated_css/navbar_styling.css">
    <link rel="stylesheet" href="../styling/generated_css/children_styling.css">
    <link rel="stylesheet" href="../styling/generated_css/footer_styling.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script src="../js/load_main_menu_and_body.js"></script>
<script src="../js/children_page_scripts.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        set_bg_color();
        add_navbar('../templates/navbar_other_path.html', "children_menu");
        add_footer('footer.html', '../images/logoinstagramkonik/logokonikoktagoncroppedleft4.png');
        add_time_table();
        switch_page_language();

    });
    var navbarsize = 'large';
    window.onscroll = () => {
        //navbar_resizing_scrolling();

    };
    $(function () {
        $(window).on("load resize", function () {
            if (window.innerWidth > 589) {

                if (window.innerHeight < 500) {
                    $(".fill-screen").css("height", "500px"); //mobile sideways, table does not overflow background
                } else {

                    $(".fill-screen").css("height", window.innerHeight); // big screen, background exactly matches window
                }
            } else {
                $(".fill-screen").css("height", "1150px");//mobile view, table longer than one screen height
            }

            if (window.innerWidth > 751) {
                var display_curr = $('#navbar-template-section').css("display")
                if (display_curr === "none") {
                    $('#navbar-template-section').css("display", "flex");
                    $('#hide-navbar-button').css({
                        "border-color": "#fcfaf2",
                        "color": "#fcfaf2",
                        "padding-bottom": "6px",
                        "border-width": "0px",
                        "top": "8px"
                    });
                }
            }
        });


        $('#hide-navbar-button').click(function () {
            console.log("button pushed")
            var display_curr = $('#navbar-template-section').css("display")
            if (display_curr === "none") {
                $('#navbar-template-section').css("display", "flex");
                $('#hide-navbar-button').css({
                    "border-color": "#fcfaf2",
                    "color": "#fcfaf2",
                    "padding-bottom": "6px",
                    "border-width": "0px",
                    "top": "8px"
                });
            } else {
                $('#navbar-template-section').css("display", "none");
                $('#hide-navbar-button').css({
                    "border-color": "#031740",
                    "color": "#031740",
                    "padding-bottom": "2px",
                    "border-width": "1px",
                    "top": "-0.8em"
                });
            }


        });
    })
    ;
</script>


<body id="body">
<a name="page_top"></a>
<button id="hide-navbar-button">&#8691
</button>
<nav id="navbar-template-section" class="navbar sticky-top navbar-expand-md">
    <div style="height: 79px"></div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="fill-screen col-12" style="background-image: url(../images/foto/apo5cropped.jpg)">
            <div id="time_table" class="col-lg-8">

            </div>
        </div>
    </div>
    <div class="row news-row">
        <div class="col-12 ">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Aktuality</h2>
                    <h2 class="en-lang" style="display: none">News</h2>
                    <div id="news_ul">
                        <ul class="cs-lang">
                            <li>Kvůli covid-19 jsou kroužky 2019/2020 zrušeny</li>
                                 <li>Peníze z propadlých kroužků mohou být vráceny v poměrné sumě, nebo použity k proplacení nového kroužku na podzim roku 2020/2021</li>
                        </ul>
                        <ul class="en-lang">
                            <li>Bacause of covid-19, lessons for 2019/2020 are canceled</li>
                            <li>Money paid for the canceled lessons can be returned for the amount of lessons that did not take place, or it can be used to pay for the lessons in fall 2020 </li>
                        </ul>
                    </div>
                </article>
            </div>

        </div>

    </div>


    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-2">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-2">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-1">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>
    <div class="row content-row">
        <div class="col-md-5 order-md-2 image-div image-div-2">
            <img src="../images/used_pictures/girls_working_painting.jpg" style="width: 100%"/>
        </div>
        <div class="col-md-7 order-md-1 text-div">
            <div class="inside-text-container">
                <article class="text_square">
                    <h2 class="cs-lang">Info nadpis</h2>
                    <h2 class="en-lang" style="display: none">Info heading</h2>
                    <h4 class="cs-lang">podrobnější informace</h4>
                    <h4 class="en-lang" style="display: none">more specific info</h4>
                </article>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="co-12 mx-auto">
            <button class="cs-lang back-to-the-top-button" onclick="location.href='#page_top'">Zpět nahoru
            </button>
            <button class="en-lang back-to-the-top-button" onclick="location.href='#page_top'" style="display:none;">
                Back to
                the top
            </button>
        </div>
    </div>
    <div id="footer-section" class="row keramika-footer">

    </div>
</div>


</body>
</html>
