<article class=" col-lg-5 col-md-6 col-sm-12">
    <h2 class="cs-lang"> Keramická dílna Ostrovní</h2>
    <h2 class="en-lang" style="display: none"> Ceramic Studio Ostrovní</h2>
    <h7 class="cs-lang">ZŠ Brána jazyků s rozšířenou výukou matematiky</h7>
    <h7 class="en-lang" style="display: none">Elementary school Brána jazyků</h7>
    <br><br>
    <a class="cs-lang" href="https://mapy.cz/s/28wYh" data-placement="bottom"
       title="Zobrazit na mapě" target="_blank">Ostrovní 16, Praha 1-Nové Město 110 00 </a>
    <a class="en-lang" style="display: none" href="https://mapy.cz/s/28wYh" data-placement="bottom"
       title="Display on map" target="_blank">Ostrovní 16, Praha 1-Nové Město 110 00 </a>
    <br>
    <h7>keramikaostrovni@gmail.com</h7>
</article>
<div id="googleMap" class="col-md-4 col-lg-5">
    <iframe class="col-12"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2560.315456749096!2d14.41380931593431!3d50.080380421841305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b94f1c9f7c297%3A0xcc533e2ebaf15e44!2zT3N0cm92bsOtIDE2LCAxMTAgMDAgTm92w6kgTcSbc3Rv!5e0!3m2!1scs!2scz!4v1590234577113!5m2!1scs!2scz"
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>
<div class="col-md-2  col-lg-2"></div>
<img id="footer_logo" src="">
