<a class="navbar-brand" href="../index.html"><img id="nav-logo-picture"
                                               src="../images/keramika_logo/keramikaLogo2higherYellow.png"
                                               width="180"
                                               class="d-inline-block align-top" alt=""/></a>
<button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="menu_left" class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="children_menu" class="nav-link" href="#">Děti<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a id="adults_menu"  class="nav-link" href="#">Dospělí</a>
        </li>
        <li class="nav-item">
            <a id="teachers_menu"  class="nav-link" href="teachers.html">Učitelé</a>
        </li>
        <li id="language_drop-li" class="nav-item dropdown">
            <a  id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Jazyk
            </a>
            <div id="language-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button id="cs" onclick="navbar_cs()" class="dropdown-item language_dropdown_button" type="button">cs <img id="czech-flag"
                                                                                                     src="../images/czech_flag.PNG"
                                                                                                     class="d-inline-block align-top"
                                                                                                     alt=""/>
                </button>
                <button id="en" onclick="navbar_en()" class="dropdown-item language_dropdown_button" type="button">en <img
                        id="english-flag"
                        src="../images/english_flag.PNG"
                        class="d-inline-block align-top"
                        alt=""/></button>
            </div>

    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <div class="grid" id="outside-pages-links">
                <div class="grid-item">
                    <a id="insta_logo_link" class="nav-link" target="_blank" rel="noopener noreferrer"
                       href="https://www.instagram.com/keramikaostrovni/?hl=en" data-placement="bottom"
                       title="instagram">
                        <img src="../images/instagram_logo/insta_transparent.png"
                             onmouseover="this.src='images/instagram_logo/insta_blue.png'"
                             onmouseout="this.src='images/instagram_logo/insta_transparent.png'" width="34"
                             class="d-inline-block" alt=""/></a>
                </div>
                <div id="fb_logo_link" class="grid-item outside-page-link">
                    <a class="nav-link" target="_blank" rel="noopener noreferrer"
                       href="http://www.facebook.com/pages/Keramick%C3%A1-d%C3%ADlna-Z%C5%A0-Br%C3%A1na-jazyk%C5%AF/204959079548049"
                       data-placement="bottom" title="facebook"> <img src="../images/fb_logo/fb_transparent.png"
                                                                      onmouseover="this.src='images/fb_logo/fb_dark_blue.png'"
                                                                      onmouseout="this.src='images/fb_logo/fb_transparent.png'"
                                                                      width="32"
                                                                      class="d-inline-block" alt=""/></a>
                </div>
                <div id="school_logo_link" class="grid-item outside-page-link">
                    <a class="nav-link" target="_blank" rel="noopener noreferrer"
                       href="http://www.branajazyku.cz/" data-placement="bottom"
                       title="ZŠ Brána jazyků">
                        <img src="../images/school_logo/gate_logo_transparent.png"
                             onmouseover="this.src='images/school_logo/gate_logo_yellow.png'"
                             onmouseout="this.src='images/school_logo/gate_logo_transparent.png'" width="34"
                             class="d-inline-block" alt=""/></a>
                </div>
            </div>
        </li>
    </ul>
</div>

