<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>Keramická dílna brána jazyků</title>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <link rel="icon" href="../images/konikrightsmall.jpg">
    <link rel="stylesheet" href="../styling/generated_css/navbar_styling.css">
    <link rel="stylesheet" href="../styling/generated_css/teachers_styling.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


</head>

<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

<script src="../js/load_main_menu_and_body.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        set_bg_color();
        add_navbar_other_path();


    });
    var navbarsize = 'large';
    window.onscroll = () => {
        navbar_resizing_scrolling();

    };
    $(function () {
        $(window).on("load resize", function () {
            var desired_top_width = $('.navbar').css('width');
            $(".fill-screen").css("height", window.innerHeight);
            $(".video-container").css("width", desired_top_width);

            //$("#top_picture").css("width",desired_top_width);
            console.log($('.navbar').css('width'));
            if (window.innerWidth >= 768) {
                //console.log("video");
                $('#top_picture').css("display", "none");
                $('#top_video').css("display", "block");
            } else {
                //console.log("pic");
                $('#top_video').css("display", "none");
                $('#top_picture').css("display", "inline-block");

            }
        });
    });


    //   poster: "../images/video/promoposter.png",
    //  webm: "../images/video/promovid.webm",
    //    mp4: "../images/video/promovid.mp4",
    //    ogg: "../images/video/promovid.ogg"


</script>
<body id="body">
<nav id="navbar-template-section" class="navbar sticky-top navbar-expand-md">
    <div style="height: 79px"></div>
</nav>
<div class="container-fluid">
    <div id="top_row" class="row">
        <div class="video-container col-12">
            <video id="top_video" autoplay loop muted>
                <source src="../images/video/promovid.mp4" type="video/mp4">
            </video>

            <img id="top_picture" class="img-responsive" src="../images/video/promoposter.png"></img>

        </div>
    </div>
    <div class="row content-filler">
        <section>
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>Pellentesque pretium lectus id turpis. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac
                pede. Nullam sapien sem, ornare ac, nonummy non, lobortis a enim. Aliquam in lorem sit amet leo accumsan
                lacinia. Pellentesque arcu. Quisque tincidunt scelerisque libero. Maecenas ipsum velit, consectetuer eu
                lobortis ut, dictum at dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac turpis egestas. Nullam sit amet magna in magna gravida vehicula. Suspendisse nisl. Etiam posuere
                lacus quis dolor. Fusce suscipit libero eget elit.</p>
        </section>
    </div>
    <div class="row">
        <div class="fill-screen fixed-attachment col-12"
             style="background-image:url(../images/foto/with_doll_cropped3.jpg)">
        </div>
    </div>
    <div class="row content-filler">
        <section>
            <h2>Phasellus et lorem id felis nonummy placerat</h2>
            <p>Phasellus et lorem id felis nonummy placerat. Fusce tellus. In dapibus augue non sapien. Cum sociis
                natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam sed tellus id magna
                elementum tincidunt. Quisque tincidunt scelerisque libero. Duis ante orci, molestie vitae vehicula
                venenatis, tincidunt ac pede. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Sed ac
                dolor sit amet purus malesuada congue. Proin in tellus sit amet nibh dignissim sagittis. Integer
                pellentesque quam vel velit.</p>
        </section>
    </div>
    <div class="row">
        <div class="fill-screen fixed-attachment col-12" style="background-image:url(../images/foto/prace/kraken.JPG)">
        </div>
    </div>
    <div class="row content-filler">
        <section>
            <h2>In enim a arcu imperdiet malesuada</h2>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                laborum. Nullam dapibus fermentum ipsum. Duis pulvinar. In convallis. Vivamus luctus egestas leo. Mauris
                suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus.
                Nullam eget nisl. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec
                bibendum odio risus sit amet ante. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis
                voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
        </section>
    </div>
    <div class="row">
        <div class="fill-screen fixed-attachment col-12"
             style="background-image:url(../images/foto/prace/working_hard_and_happy.JPG)">
        </div>
    </div>
    <div class="row content-filler">
        <section>
            <h2>Integer pellentesque quam vel velit</h2>
            <p>In enim a arcu imperdiet malesuada. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
                quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Nunc
                dapibus tortor vel mi dapibus sollicitudin. Duis condimentum augue id magna semper rutrum. Etiam neque.
                Donec iaculis gravida nulla. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Nullam sit amet magna in magna gravida vehicula.</p>
        </section>
    </div>


</div>
<footer class="container-fluid">
    <div class="row">
        <h1>FOOTER</h1>

    </div>
</footer>

</body>
</html>
