<table class="cs" style="width:100%">
    <tr><h3> Rozpis lekcí keramiky jaro/léto 2020</h3></tr>
    <thead>
    <tr>
        <th>Datum konání</th>
        <th>Od - do</th>
        <th>Hodinu vede</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Čtvrtek 9. ledna</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 23. ledna</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 6. února</td>
        <td>16:30 - 19:00</td>
<td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 20. února</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 5. března</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 19. března</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 2. dubna</td>
        <td>16:30 - 19:00</td>
     <td>Eva Lukášová</td>
    </tr>
     <tr>
        <td>Čtvrtek 16. dubna</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 30. dubna</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 14. května</td>
        <td>16:30 - 19:00</td>
<td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 28. května</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 11. června</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Čtvrtek 25. června</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    </tbody>
</table>
