 <table class="en" style="width:100%">
                    <tr><h3> Timetable of classes 2019/2020</h3></tr>
                    <thead>
                    <tr>
                        <th>Day</th>
                        <th>From - to</th>
                        <th>Students</th>
                        <th>Teacher</th>
                        <th>Free spots</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>12:40 - 13:30</td>
                        <td>1-2 grade</td>
                        <td>Eva Lukášová</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Monday</td>
                        <td>13:50 - 14:40</td>
                        <td>3-5 grade</td>
                        <td>Eva Lukášová</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>12:40 - 13:30</td>
                        <td>1-2 grade</td>
                        <td>Jan Kučera</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>14:40 - 16:30</td>
                        <td>3-5 grade</td>
                        <td>Adéla Kotrbová</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>13:00 - 14:30</td>
                        <td>3-5 grade</td>
                        <td>Eva Lukášová</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>15:00 - 16:30</td>
                        <td>6-9 grade</td>
                        <td>Eva Lukášová</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>13:00 - 14:30</td>
                        <td>1-5 grade</td>
                        <td>Adéla Kotrbová</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
