<table class="en" style="width:100%">
    <tr><h3> Pottery classes spring/summer 2020</h3></tr>
    <thead>
    <tr>
        <th>Lecture date</th>
        <th>From - to</th>
        <th>Teacher</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Thursday, January 9 </td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, January 23</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, February 6</td>
        <td>16:30 - 19:00</td>
<td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, February 20</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, March 5</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, March 19</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, April 2</td>
        <td>16:30 - 19:00</td>
     <td>Eva Lukášová</td>
    </tr>
     <tr>
        <td>Thursday, April 16</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, April 30</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, May 14</td>
        <td>16:30 - 19:00</td>
<td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, May 28</td>
        <td>16:30 - 19:00</td>
       <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, June 11</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    <tr>
        <td>Thursday, June 25</td>
        <td>16:30 - 19:00</td>
        <td>Eva Lukášová</td>
    </tr>
    </tbody>
</table>
